<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <div ng-app="myApp" ng-controller="myCtrl">
      <h1>Applications / Controllers</h1>
        <p>First Name: <input type="text" ng-model="firstName"></p>
        <p>FLast Name: <input type="text" ng-model="lastName"></p>
       <br>
       <p>Full Name: {{firstName + " " + lastName}}</p>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Smith";
        });
    </script>
</body>
</html>